* { box-sizing: border-box; }

body { font-family: sans-serif; }

.scene {
  width: 200px;
  height: 200px;
  margin: 80px;
  perspective: 400px;
  text-align: center;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 0s;
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  padding-top: 0px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face--front  { background: hsla(  0, 100%, 50%, 0.4); }
.cube__face--right  { background: hsla( 60, 100%, 50%, 0.4); padding-top: 0px; }
.cube__face--back   { background: hsla(120, 100%, 50%, 0.4); }
.cube__face--left   { background: hsla(180, 100%, 50%, 0.4); padding-top: 0px; }
.cube__face--top    { background: hsla(240, 100%, 50%, 0.4); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.4); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

.chat, #emma {
    width: 200px;
    min-height: 150px;
    height: 100%;
    object-fit: fill;
}

.cube__face {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alertbox {
  flex: 1 1 auto;
  width: 200px;
  background-color: #18181B;
  border: 1px solid #aaaaaa;
  padding: 2px;
  border-radius: 5px;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
}

.alert {
  color: #ff8787;
  font-weight: 600;
  /*flex: 1 1 auto;*/
  font-size: 16px;
  margin: auto;
  width: 200px;
  overflow: hidden;
  word-wrap: break-word;
}

.hidden {
  display: none;
  width: 0;
  height: 0;
}

#debug {
  color: white;
  background-color: black;
  padding: 10px;
  margin-top: 75px;
  margin-left: 50px;
  width: 300px;
}

label { margin-right: 10px; }